/* font-family: 'Cabin', sans-serif; */

html,
body,
header,
#intro {
    height: 100%;
}

#home-section {
    background: url(img/RBGLogoBackground.jpg) no-repeat center center fixed;
    display: block;
    position: relative;
    background-position: 0 75px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.doodad {
    background-color: #BD2830 !important;
}

/* To do: make the active page have black text and all others have white with black hover. Also want the dropdown to activate on hover
*/ 

.nav-link {
    font-size: 23px;
}

/* News */
.news-container {
    margin-top: 100px;
}


/* Events */

.events-container {
    margin-top: 50px;
}

/* Teams */
.teams-container {
    margin-top: 100px;
}

